// https://yalter.github.io/niri/Configuration:-Introduction

environment {
    DISPLAY ":1"

    XDG_SESSION_TYPE    "wayland"
    XDG_SESSION_DESKTOP "Niri"
    XDG_CURRENT_DESKTOP "Niri"

    XDG_CONFIG_HOME "/home/bams/.config"
    XDG_CACHE_HOME  "/home/bams/.local/cache"
    XDG_DATA_HOME   "/home/bams/.local/share"
    XDG_STATE_HOME  "/home/bams/.local/state"

    XCURSOR_SIZE "24"
    LC_TIME "ru_UA.UTF-8"

    GDK_BACKEND "wayland,x11,*"
    GDK_DPI_SCALE "1"
    GDK_SCALE "1"

    QT_SCALE_FACTOR "1.3"
    QT_AUTO_SCREEN_SCALE_FACTOR "1"
    QT_QPA_PLATFORM "wayland;xcb"
    QT_QPA_PLATFORMTHEME "gtk3"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"

    // SDL_VIDEODRIVER "wayland,x11,*"
    SDL_VIDEODRIVER "x11"
    // SDL_VIDEODRIVER "wayland,x11,*"
    // SDL_VIDEO_WAYLAND_SCALE_TO_DISPLAY "0"
    // SDL_VIDEO_MINIMIZE_ON_FOCUS_LOSS "0"
    // SDL_VIDEODRIVER "wayland,x11,windows"
    // SDL_VIDEO_MINIMIZE_ON_FOCUS_LOSS "0"
    // SDL_VIDEODRIVER "x11,wayland"
    // SDL_VIDEO_MINIMIZE_ON_FOCUS_LOSS "0"
}

output "eDP-1" {
    mode "1280x720"
    scale 1.4
    transform "normal"
    position x=0 y=0
}

input {
    disable-power-key-handling
    keyboard {
        xkb {
            layout "us,ru,ua"
            options "grp:caps_toggle,grp_led:caps"
        }
    }

    touchpad {
        tap
        natural-scroll
        accel-speed 0.2
        accel-profile "flat"
        scroll-method "two-finger"
        // disabled-on-external-mouse
    }

    mouse {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "no-scroll"
    }
}

cursor {
    xcursor-theme "Adwaita"
    xcursor-size 24
    hide-when-typing
    hide-after-inactive-ms 10000
}

prefer-no-csd

layout {
    gaps 16    
    background-color "transparent"
    center-focused-column "never"

    preset-column-widths {
        proportion 0.3
        proportion 0.5
        proportion 0.6
        proportion 1.0
    }

    default-column-width { 
        proportion 0.6 
    }

    preset-window-heights { 
        proportion 0.333
        proportion 0.5
        proportion 0.666
        proportion 1.0
    }

    focus-ring {
        off
    }

    border {
        width 3
        active-color "#fa0"
        inactive-color "#666"
        urgent-color "#F00"
    }

    shadow {
        on
        draw-behind-window false
        softness 20
        spread 5
        offset x=0 y=5
        color "#000"
    }
}

clipboard {
    disable-primary
}

hotkey-overlay {
    skip-at-startup
}

animations {
    slowdown 1
}

overview {
    zoom 0.3
    //backdrop-color "#000"
    // workspace-shadow {
    //     softness 800    
    //     spread   300
    //     //offset   x=10 y=10
    //     color    "#000A"
    // }
}

recent-windows {
    debounce-ms 750
    open-delay-ms 250

    highlight {
        active-color "#999999ff"
        urgent-color "#ff9999ff"
        padding 30
        corner-radius 5
    }

    previews {
        max-height 640
        max-scale 0.4
    }

    binds {
        Mod+Tab         { next-window; }
        Mod+Shift+Tab   { previous-window; }
    }
}


// All windows rounded
window-rule {
    geometry-corner-radius 5
    clip-to-geometry true
}

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
    open-focused false
    default-floating-position x=32 y=32 relative-to="bottom-right"
    default-column-width { proportion 0.3; }
    default-window-height { proportion 0.3; }
}

// window-rule {
//     match app-id="^wlr-which-key$"
// }

layer-rule {
    // Match the layer-shell namespace
    match namespace="wlr-which-key"

    // 1. Apply the blur to the surface
    // blur {
    //     radius 15
    //     sigma 3.0
    // }

    // 2. Darken the surface background
    // This adds a translucent dark tint to the blurred area
    //background-color "#00000066" 
    
    // 3. Optional: Shadow for extra depth
    shadow {
        on
        softness 10
        spread 20
        color "#00000077"
    }
}

layer-rule {
    match namespace="^wallpaper$"
    place-within-backdrop true
}

binds {
    //FIXME: move kitty config!!! 
    Mod+Return { spawn-sh "kitty --config ~/.config/hypr/configs/kitty/kitty.conf"; } 
    
    Mod+R     { spawn-sh "killall rofi || rofi -show drun -show-icons -matching fuzzy"; }
    
    Mod+Space { spawn-sh "killall wlr-which-key || wlr-which-key ~/.config/niri/configs/whichkey/keymap.yaml"; }
    Mod+Q     { spawn-sh "killall wlr-which-key || wlr-which-key --initial-keys 'q' ~/.config/niri/configs/whichkey/keymap.yaml"; }
    Mod+P     { spawn-sh "killall wlr-which-key || wlr-which-key --initial-keys 'p' ~/.config/niri/configs/whichkey/keymap.yaml"; }

    Ctrl+Alt+Backspace { quit; }
    Ctrl+Alt+W         { spawn-sh "~/.config/niri/waybar"; }
    Ctrl+Alt+R         { spawn-sh "~/.config/niri/autorun"; }

    Mod+V              { spawn-sh "pkill rofi || cliphist list | rofi -dmenu -p  -show-icons -matching fuzzy | cliphist decode | wl-copy"; }
    Mod+B              { spawn-sh "firefox"; }
    Mod+Shift+B        { spawn-sh "firefox --private-window"; }

    Mod+O       { toggle-overview; }
    Mod+X       { close-window; }
    Mod+Z       { maximize-column; }
    Mod+Shift+Z { fullscreen-window; }

    Mod+F       { toggle-window-floating; }
    Mod+Shift+F { switch-focus-between-floating-and-tiling; }

    Mod+T       { toggle-column-tabbed-display; }

    Mod+W       { switch-preset-column-width; }
    Mod+Shift+W { switch-preset-window-height; }

    // Mod+S { spawn-sh "~/.config/niri/scripts/niri-sp.sh qwe mc"; }
    
    Mod+U       { spawn-sh "~/.config/niri/scripts/niri-jump-to-urgent.sh"; }
    Mod+C       { center-window; }

    Mod+H       { focus-column-left; }
    Mod+J       { focus-window-or-workspace-down; }
    Mod+K       { focus-window-or-workspace-up; }
    Mod+L       { focus-column-right; }

    Mod+Shift+H { set-column-width "-10%"; }
    Mod+Shift+J { set-window-height "+10%"; }
    Mod+Shift+K { set-window-height "-10%"; }
    Mod+Shift+L { set-column-width "+10%"; }

    Mod+Ctrl+H  { consume-or-expel-window-left; }
    Mod+Ctrl+J  { move-window-down-or-to-workspace-down; }
    Mod+Ctrl+K  { move-window-up-or-to-workspace-up; }
    Mod+Ctrl+L  { consume-or-expel-window-right; }

    Mod+Ctrl+Shift+J   { move-workspace-down; }
    Mod+Ctrl+Shift+K   { move-workspace-up; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }

    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }

    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+BracketLeft  { switch-layout "prev"; }
    Mod+BracketRight { switch-layout "next"; }
}

spawn-sh-at-startup "~/.config/niri/autorun";